// Для вызова @extend
%styleStandartText {
   font-family: 'VelaSans', sans-serif;
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 132%;
}
%styleTitleText {
   font-family: 'Montserrat', sans-serif;
   font-style: normal;
   font-weight: 700;
   line-height: 132%;
   color: $standart-text-color;
}